@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-card-green: hsl(75, 94%, 57%);
  --color-card-grey-700: hsl(0, 0%, 20%);
  --color-card-grey-800: hsl(0, 0%, 12%);
  --color-card-grey-900: hsl(0, 0%, 8%);
  --font-card-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --spacing-card-50: 4px;
  --spacing-card-100: 8px;
  --spacing-card-150: 12px;
  --spacing-card-200: 16px;
  --spacing-card-300: 24px;
  --spacing-card-500: 40px;
}

@layer base {
  body {
    background-color: var(--color-card-grey-900);
    font-family: var(--font-card-inter);
  }
}
